.wrapper {
  overflow-x: hidden;
}

#title {
  color: black;
  text-align: center;
  z-index: 1000;
  font-weight: 900;
}

#span {
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  top: 3vh;
  left: 10vw;
  z-index: 1200;
  /* margin: 0; */
}

.logo {
  height: 70px;
  width: 70px;
}

/* These are all pictures */
.DCW,
/* .DIC, */
.jp,
.door,
.crew,
.bsd,
.cc,
.hd,
.mo,
.pp,
.hu,
.cnd {
  border-radius: 15px;
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%);
  height: 400px;
  width: 500px;
  object-fit: cover;
}
.DIC {
  border-radius: 15px;
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%);
}

.DCW,
/* .DIC, */
.jp,
.door,
.crew,
.bsd,
.cc,
.hd {
  margin-bottom: 2vh;
}

.jp,
.door,
.crew,
.bsd,
.cc,
.hd {
  height: 360px;
  width: 500px;
  overflow: hidden;
}

#bs {
  border-radius: 15px;
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%);
}

.cb {
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%) !important;
}
.cb:hover {
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%) !important;
}
.cb:focus {
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%) !important;
}
.cb:active {
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%) !important;
  transform: translate(2px, 1px) !important;
  -webkit-transform: translate(2px, 1px) !important;
}

/* className="justify-content-center align-items-center align-self-center align-content-center" */
/* #pos,
.pos {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
  align-content: center !important;
} */
/* id={Styles.pos} */
/* className={Styles.pos} */
/* id="align-self-center" */
/* .navbar .navbar-nav .nav-link */

@media only screen and (max-width: 1504px) {
  #h3 {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1416px) {
  .name {
    font-size: x-large;
  }
  #span {
    font-size: medium;
  }
}

@media only screen and (max-width: 1203px) {
  #h3 {
    font-size: large;
  }
  #span {
    font-size: medium;
  }
}

@media only screen and (max-width: 1154px) {
  #span {
    top: 4vh;
    font-size: large;
  }
}

@media only screen and (max-width: 1110px) {
  .name {
    font-size: medium;
  }
}

@media only screen and (max-width: 1097px) {
  #span {
    /* display: none; */
    left: 11vw;
  }
}

@media only screen and (max-width: 991px) {
  #h5 {
    display: none;
  }
  #span {
    /* display: none; */
    left: 20vw;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 781px) {
  #span {
    /* display: none; */
    left: 20vw;
  }
}

@media only screen and (max-width: 599px) {
  #span {
    display: none;
  }
}
